<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GDAudioPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B80DB2C81D33330D004CA6DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B80DB2E11D33330D004CA6DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B80DB2EC1D33330D004CA6DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
